<h2>Your Want to Read List</h2>

<section class="read-list">
    <% for (let book of books) { %>
        <div class="ui-reads">
            <h2>
                <a href="/books/<%= book.id %>">
                    <%= book.title %>
                </a>
            </h2>
            <p>Author: <%= book.author %></p>
            <img src="<%= book.image_url %>" alt="<%= book.title %> Cover Image">
        </div>
    <% } %>
</section>